<canvas id="pdf-render"></canvas>
<div class="pdf--controls">
  <button class="btn" id="prev-page">
    <i class="fas fa-arrow-circle-left"></i> Предыдущая страница
  </button>
  <button class="btn" id="next-page">
    Следующая страница <i class="fas fa-arrow-circle-right"></i>
  </button>
  <span class="page-info">
    Страница <span id="page-num"></span> / <span id="page-count"></span>
  </span>
</div>
