<div class="form_container">
  <form action="" method="POST">
    <div class="form_content">
      <div class="input_field">
        <input type="text" name="name_build" placeholder="Название" required />
      </div>
      <div class="input_field">
        <textarea name="description" placeholder="Описание" />
      </div>
      <p>Изображение</p>
      <div class="input_field">
        <input type="file" name="file_image" placeholder="Выберите фотографию для постройки" required />
      </div>
      <p>Инструкция</p>
      <div class="input_field">
        <input type="file" name="file_instruction" placeholder="Выберите инструкцию для постройки" required />
      </div>
      <p>Программа</p>
      <div class="input_field">
        <input type="file" name="file_program" placeholder="Выберите программу для постройки" />
      </div>
      <div class="btn__form_container ">
        <input class="btn btn_form" type="submit" value="Добавить"/>
      </div>
    </div>
  </form>
</div>
