<div class="filter">
  <div class="filter_options">
    <div class="input_filter">
      <i class="fa fa-search" aria-hidden="true"></i>
      <input type="search" name="filter_name" placeholder="Введите название постройки" required />
    </div>
    <label class="container_checkbox">С программой
      <input type="checkbox" name="" value="" placeholder="" required>
      <span class="checkmark"></span>
    </label>
    <label class="container_checkbox">Только EV3
      <input type="checkbox" name="" value="" placeholder="" required>
      <span class="checkmark"></span>
    </label>
    <label class="container_checkbox">Только WeDo
      <input type="checkbox" name="" value="" placeholder="" required>
      <span class="checkmark"></span>
    </label>
    <label class="container_radio">По дате добавления
      <input type="radio" checked="checked" name="radio">
      <span class="radio_text"></span>
    </label>
    <label class="container_radio">По популярности
      <input type="radio" checked="checked" name="radio">
      <span class="radio_text"></span>
    </label>
  </div>
</div>
<div class="builds-list">
  <AddBuildItem></AddBuildItem>
  <BuildItem></BuildItem>
  <BuildItem></BuildItem>
  <BuildItem></BuildItem>
  <BuildItem></BuildItem>

</div>
