<div class="form_container">
  <form {{action "signUp" login password on="submit"}}>
    <div class="form_content">
      <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
        {{input type="text" required=true name="login" value=login placeholder="Введите логин"}}
      </div>
      <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
        {{input type="password" required=true name="password" value=password placeholder="Пароль"}}
      </div>
      {{#if errorMessage}}
        <div class="error_message">
          {{errorMessage}}
        </div>
      {{/if}}
      <div class="btn__form_container ">
        <button class="btn btn_form" type='submit'>Войти</button>
      </div>
    </div>
  </form>
</div>
