<div class="page--container">
  <div class="intro">
    <h1>Добро пожаловать!</h1>
    <p>Для того чтобы начать обучение вам необходимо скачать программное обеспечение для программирования роботов на основе наборов Lego  WeDo и Lego MindStorms, для того чтобы скачать одну из сред программирования, кликните на одну из картинок ниже.</p>
  </div>
  <div class="lego--cards">
    <div class="lego--card">
      <a href="https://education.lego.com/ru-ru/downloads/retiredproducts/wedo/software">
        <div class="lego--card-image">
          <img src="/assets/images/LegoWeDoCard.jpg" alt="Lego WeDo">
          <div class="lego--card-hidden-text">
            <span>Перейти</span>
          </div>
        </div>
      </a>
      <div class="lego--card-text">
        Программное обеспечение конструктора WeDo™ предназначено для создания программ путём
        перетаскивания Блоков из Палитры на Рабочее поле и их встраивания в цепочку программы.
        Для управления моторами, датчиками наклона и расстояния, предусмотрены соответствующие
        Блоки. Кроме них имеются и Блоки для управления клавиатурой и дисплеем компьютера,
        микрофоном и громкоговорителем. Программное обеспечение автоматически обнаруживает
        каждый мотор или датчик, подключенный к портам LEGO®-коммутатора. В разделе «Первые
        шаги» программного обеспечения WeDo можно ознакомиться с принципами создания и
        программирования LEGO-моделей.
      </div>
    </div>
    <div class="lego--card">
      <a href="https://education.lego.com/ru-ru/downloads/retiredproducts/wedo/software">
        <div class="lego--card-image">
          <img src="/assets/images/LegoMindStorms.jpeg" alt="Lego MindStorms">
          <div class="lego--card-hidden-text">
            <span>Перейти</span>
          </div>
        </div>
      </a>
      <div class="lego--card-text">
        Благодаря LEGO MINDSTORMS EV3 никогда еще не было
        так просто построить и запрограммировать собственного
        робота. Сначала придумайте робота, а затем постройте его.
        Используйте моторы и датчики, чтобы задать модель поведения
        и привести робота в движение. Программное обеспечение
        поможет вам «оживить» вашего робота
      </div>
    </div>
  </div>
</div>
