<div class="profile">
  <p>Имя: {{this.session.data.authenticated.user.name}}</p>
  <p>Фамилия: {{this.session.data.authenticated.user.surname}}</p>
  <p>Логин:{{this.session.data.authenticated.user.login}}</p>
  <p>Email:{{this.session.data.authenticated.user.email}}</p>
</div>
