<div class="books">
  <div class="book-card">
    <a href="/assets/useful/books/1.pdf">
      <div class="book-name">
        Большая книга Lego EV3 MindStorms
      </div>
      <div class="book-image">
        <img src="/assets/useful/images/1.jpg" alt="">
      </div>
    </a>
  </div>
  <div class="book-card">
    <a href="/assets/useful/books/2.pdf">
      <div class="book-name">
        Программирование EV3 на языке программирования Python
      </div>
      <div class="book-image">
        <img src="/assets/useful/images/2.jpg" alt="">
      </div>
    </a>
  </div>
  <div class="book-card">
    <a href="/assets/useful/books/3.pdf">
      <div class="book-name">
        Книга учителя для Комплекта заданий «Инженерные проекты EV3»
      </div>
      <div class="book-image">
        <img src="/assets/useful/images/3.jpg" alt="">
      </div>
    </a>
  </div>
  <div class="book-card">
    <a href="/assets/useful/books/4.pdf">
      <div class="book-name">
        Книга учителя для Комплекта заданий «Физические эксперименты EV3»
      </div>
      <div class="book-image">
        <img src="/assets/useful/images/4.png" alt="">
      </div>
    </a>
  </div>
  <div class="book-card">
    <a href="/assets/useful/books/5.pdf">
      <div class="book-name">
      Книга учителя для Комплекта заданий «Космические проекты EV3»
      </div>
      <div class="book-image">
        <img src="/assets/useful/images/5.jpg" alt="">
      </div>
    </a>
  </div>
</div>
