@import 'ember-basic-dropdown';
@import 'ember-paper';

body {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
}
a {
  color: black;
  text-decoration: none;
}

li{
  color: white;
  text-decoration: none;
}
ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

/* HEADER */

.header {
  width: 100%;
  background-color: #2b93a1;
  border-bottom: 1px solid #1e6973;
  padding: 5px 20px 2px 20px;
  min-height: 70px;
  box-sizing: border-box;
  position: fixed;
  z-index: 10;
}
.header--inner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */

.header--logo {
  display: flex;
  align-items: center;
  max-width: 600px;
  width: 100%;
}

/* PAGE TITLE */

.header--pageTitle-container {
  text-align: center;
  color: white;
  font-size: 1.1rem;
  margin-left: 20px;
}

/* HEADER CONTROL */
.user--block-btns {
  display: flex;
  min-width: 350px;
  width: 100%;
  justify-content: space-between;
}
.user-block {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.user-block--name {
  color: white;
  font-size: 17px;
  font-weight: bold;
  margin-right: 5px;
}

.user-block--avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  background-color: white;
  border-radius: 50%;
  box-sizing: content-box;
  border: 2px solid transparent;
}
.user-block--avatar:hover {
  border: 2px solid gray;
  box-shadow: 0px 1px 15px -1px rgba(0,0,0,0.8);
}
.user-block--avatar img{
  width: 70%;
  height: 70%;
}

.ember-basic-dropdown {
  color: black;
}
.ember-basic-dropdown-trigger:focus {
  outline: none;
}
.ember-basic-dropdown-content {
  flex-direction: column;
  align-items: flex-end;
  margin-top: 4px;
  border-radius: 6px;
  border: 1px solid lightgray;
}
.ember-power-select-dropdown {
  color: black;
  padding-right: 0px;
}
.ember-power-select-trigger {
  font-family: sans-serif;
  font-size: 24px;
  border-radius: 6px;
  background-color: white;
  padding: 6px 12px;
  margin: 4px 8px;
  margin-bottom: 24px;
  min-height: auto;
  line-height: 1;
  flex-basis: 100%;
  max-width: 280px;
  margin: 0px;
  max-width: 390px;
  width: 92%;
}
.ember-power-select-trigger:nth-of-type(n) {
  margin-bottom: 16px;
}
.ember-power-select-trigger:focus {
  outline: none;
}
.ember-power-select-trigger > .ember-power-select-selected-item {
  vertical-align: sub;
  margin-left: 0px;
}
.ember-power-select-options {
  font-family: sans-serif;
  width: 100%;
}
.ember-power-select-option {
  display: flex;
  align-items: center;
  width: 100%;
  height: 32px;
  padding: 4px 12px;
}
.ember-power-select-status-icon {
  border-width: 12px 6px 0 6px;
}
.ember-power-select-selected-item {
  display: flex;
  align-items: center;
  margin-left: 0;
}

.btn--in-dropdown {
  width: 100%;
  justify-content: flex-end;
  padding: 4px;
  color: black;
  border-radius: 6px;
}
.btn--user {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0;
  padding:  2px 0px 2px 0px;
  border-bottom: 1px solid transparent;
  font-size: 1.2rem;
  transition: all 0.2s;
  box-sizing: border-box;
}
.btn--in-dropdown:hover {
  background-color: lightgray;
}
/* BUTTONS */

.btn {
  box-sizing: border-box;
  border: 2px solid lightgray;
  background-color: white;
  border-radius: 0.6em;
  cursor: pointer;
  align-self: center;
  font-size: 1rem;
  line-height: 1;
  padding: 0.5em 1em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  transition: all 300ms ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.btn:hover {
  background-color: #e67e22;
  border: 2px solid #e67e22;
  box-shadow: 0px 1px 15px -1px rgba(0,0,0,0.8);
  color: white;
}

.btn--form{
  margin-top: 10px;
}
.btn--form{

}

button,
button:active,
button:focus {
    outline: none;
}

/* CONTAINER */

.container {
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #e8eded;
}

/* SIDEBAR */

.container--sidebar {
    width: 130px;
    min-height: 800px;
    height: 100%;
    background: #3ba0ad;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 3;
    position: fixed;
}
.sidebar--nav {
  margin-top: 150px;
  display: block;
}

.nav--item {
  text-indent: 15px;
    line-height: 60px;
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 1px solid #666;
    transition: 0.2s all;
    position: relative;
}
.nav--item a:hover{
  text-decoration: none;
  color: #ffff;
}
.nav--item:hover,
.nav--item:active,
.nav--item:focus {
    text-decoration: none;
    background: rgba(255,255,255,0.2);
    cursor: pointer;
    text-indent: 20px;
}

.nav--item:hover .menu--drop {
    top:0;
    opacity: 1;
}

.menu--drop {
  position: absolute;
  left: 100%;
  width: 200%;
  background-color: #3ba0ad;
  top: -9999em;
  opacity: 0;
  transition: 0.5s opacity;
}

/* CONTENT */
.canvasWrapper {
  width: 100px;
}

.container--content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
  min-height: 700px;
  box-sizing: border-box;
  margin-top: 80px;
  margin-left: 130px;
  overflow: hidden;
}

/* FORMS */

.form--container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em 2em 2em 2em;
  box-shadow: 1px 1px 10px -1px rgba(0,0,0,0.8);
  background-color: #d5dbdb;
  border-radius: 0.25em;
  z-index: 4;
  margin: 20px;
}
.for--container-big {
  min-width: 600px;
}
.form--title {
  padding-bottom: 1em;
  font-size: 25px;
  font-weight: 600;
}
.form--content {
  display: flex;
  flex-direction: column;
}

/* INPUT FORMS */

.form--input input,
.form--input textarea{
  padding: 0.5em;
  font-size: 0.875em;
  background: #f4f4f4;
  border: 1px solid #ccc;
  border-width: 1px 1px 1px 0;
  border-radius: 0;
  flex-grow: 1;
}
.form--input input:focus,
.form--input textarea:focus{
  background: #fff;
  box-shadow: inset 0.1em 0.1em 0.25em rgba(0,0,0,0.2);
  outline: 0;
}
.form--input {
  margin-bottom: 1em;
  display: flex;
}
.form--input span {
  padding: 1em;
  background: #fff;
  border: 1px solid #ccc;
  font-size: 0.75em;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  line-height: 1;
  border-radius: 0.25em 0 0 0.25em;
}
.form--input input, .input-double input:last-child{
  border-radius: 0 0.25em 0.25em 0;
}

.form--input-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-image-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  height: 150px;
  border: 1px dashed gray
}

.form--error {
  color: red;
  margin: 5px;
  max-width: 200px;
  text-align: center;
}

.form--error p{
  margin: 0px;
}

.checkbox-margin-bottom {
  margin-bottom: 10px;
}

/* CHECBOX */

/* ROBOT ITEM */

.robot--list {
  display:flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.card--robot {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 200px;
  max-height: 200px;
  height: 100%;
  background-color: #e1e9eb;
  border: 1px solid #c6cdcf;
  border-radius: 8px;
  box-shadow: 0 0 2em rgba(0,0,0,0.2);
  box-sizing: border-box;
  cursor: pointer;
  margin: 20px;
}

.card--robot-name {
  width: 100%;
  margin: 5px 0px;
  max-height: 20px;
  text-align: center;
}

.card--robot-image {
  width: 100%;
  height: 130px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

.card--robot-image img{
  width: 100%;
  height: 130px;
}

.card--robot-likes {
  width: 100%;
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 5px;
}

.like-button {
  margin:5px 10px;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(-1, 1);
  background-color: white;
  border-radius: 50%;
  transition: 0.2s;
  color: black;
  text-decoration: none;
  opacity: 0.9;
}
.liked,
.like-button:hover{
  background-color: #3b6ecc;
  color: white;
  opacity: 1;
}

.liked span {
  -webkit-animation:spin .5s linear;
   -moz-animation:spin 0.5s linear;
   animation:spin 0.5s linear;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }

@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


/* FILTER CONTAINER */

.filter--container{
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 90px;
    background-color: #d5dbdb;
    border-radius: 2px;
    border-bottom: 1px solid #98a3a3;
    box-shadow: 0 2px 5px rgba(0,0,0.5,0.2);
}

.filter--inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  min-height: 90px;
  flex-wrap: wrap;
}

.filter--control {
  margin: 0px 10px 0px 10px;
}

.filter--input{
  display: flex;
  width: 25%;
  align-items: center;
}

.filter--input .fa {
  width: 26px;
  height: 26px;
  line-height: 26px;
  margin-right: -30px;
  position: relative;
  z-index: 1;
  float: left;
  opacity: 20%;
  transition: 0.3s
}

.filter--input .fa + input {
  padding-left: 26px;
}

.filter--input input {
  padding: 0.5em;
  font-size: 0.875em;
  background: #f4f4f4;
  border: 1px solid #ccc;
  border-width: 1px 1px 1px 0;
  border-radius: 8px;
  flex-grow: 1;
}
.filter--input input:focus {
  background: #fff;
  box-shadow: inset 0.1em 0.1em 0.25em rgba(0,0,0,0.2);
  outline: 0;
}

.filter--input input:focus + .filter--input .fa {
  opacity: 50%;
}

.loading-block {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 16px 0px;
}

.filter-type {
  margin-top: -30px;
}

.filter-types {
  display: flex;
}

.filter-type-title {
  display: flex;
  justify-content: center;
}

.filter-sort {
  margin-top: -5px;
  margin-left: 50px;
}
.filter-sorts {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.filter-sort-title {
  display: flex;
  justify-content: center;
}



/* SORT */

/* .sort--container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-right: 70px;
  left: 50px;
} */



input[type="checkbox"] {
  display: none;
}

.label--checkbox div {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #BEBEBE;
  margin-right: 7px;
  vertical-align: middle;
  line-height: 10px;
  background-color: white;
  transition: 0.3s
}

.label--checkbox {
  margin: 10px;
  display: flex;
}

.label--checkbox div i {
  font-size: 15px !important;
  color: white;
  opacity: 0;
  transition: 0.5s;
  box-sizing: border-box;
  background-color: #e67e22;
  width: 100%;
  height: 100%;
  padding-left: 3px;
  padding-top: 3px;
}

.label--checkbox div:hover {
  box-shadow: 0 0 1em rgba(0,2,2,0.5);
}

.checkbox:checked + label i {
  opacity: 1;
  animation: rotateCheck 1s;

}

@keyframes rotateCheck {
  0% {
      opacity: 0;
      transform: rotateY(0deg);
  }
  100% {
      opacity: 1;
      transform: rotateY(360deg);
  }
}

/* RADIOBUTTONS */

.container--radio {
  display: block;
  position: relative;
  padding-left: 30px;
  margin: 5px 5px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container--radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio--text {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
  transition: 0.2s
}

.container--radio:hover input ~ .radio--text {
  background-color: #ccc;
}

.container--radio input:checked ~ .radio--text {
  background-color: #2196F3;
}

.radio--text:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .radio--text:after {
  display: block;
}

.container .radio--text:after {
 	top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

/* ADD ROBOT ITEM */

.add--robot {
  background-color: rgba(29, 31, 32, 0.45);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  border: 1px solid #c6cdcf;
  width: 100%;
  min-width: 200px;
  min-height: 200px;
  height: 100%;
}


.add--robot a {
  color: black;
  text-decoration: none;
}

.add--robot:hover {
  opacity: 80%;
}

.add--robot:active {
  opacity: 60%;
}

/* ADD ROBOT ITEM FORM */


/* PAGES */

.page--container {
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
}

/* MAIN PAGE */
.intro h1 {
  text-align: center;

}
.intro {
  margin-bottom: 20px;
}

.lego--cards {
  display: flex;
  left: 0;
  top: 0;
  justify-content: space-around;
  flex-wrap: wrap;
}

.lego--card {
  width: 500px;
  max-width: 700px;
}

.lego--card-image {
  text-align: center;
  width: 100%;
  height: 300px;
  max-width: 400px;
  background-color: #3ba0ad;
  border-radius: 10px;
  margin-bottom: 10px;
  position: relative;
}

.lego--card-image img{
  width: 100%;
  height: 300px;
  border-radius: 10px;
  opacity: 90%;
  transition: 0.3s all
}

.lego--card-image:hover img {
  margin-top: 10px;
  margin-left: 10px;
  opacity: 100%;
}

.lego--card-image:hover .lego--card-hidden-text{
  z-index: 4;
  opacity: 100%;
  color: black;
  font-weight: bold;
  font-size: 30px;
}
.lego--card-hidden-text {
  position: absolute;
  top: 150px;
  left: 150px;
  opacity: 0;
  transition: 0.3s all;
}

.lego--card-hidden-text span {
  /* position: absolute;
  display: none;
  top: -180px;
  left: -40px;
  font-size: 30px;
  font-weight: 700;
  color: white; */
}

.lego--card a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 20px;
  height: 300px;
}




/* CREATE FORM */

.robot--type {

}

.form--input-big {
  height: 100px;
}

.form--type {
  display: flex;
  justify-content: space-around;
  margin: 0 100px;
}

.type-lego {
  margin: 10px;
}

.form-check {
  margin-bottom: 10px;
}

.input--label {
  display: flex;
  justify-content: space-around;
}

.label-double {
  justify-content: space-between;
}

.label-double-space-around {
  justify-content: space-around;
}

.profile {
  display: flex;
  flex-direction: column;
}


/* ROBOT ITEM */
.robot--screen {
  width: 65%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.robot--name {
  color:black;
  text-transform: uppercase;
  margin: 20px 0px 5px 0px;
  font-weight: bold;
  font-size: 30px;
}

.robot--data {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-margin {
  margin: 10px;
}

.robot--information p{
  margin: 10px;
}

.robot--files {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.robot--links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-download:hover {
  background-color: #14ca61;
  border: 2px solid #14ca61;
}

.robot--programImage {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  height: 120px;
  max-width: 70%;
}

.robot--programImage p{
  margin: 10px;
}

.robot--programImage img {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  width: 100%;
  height: 130px;
}

.books {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 30px;
}

.book-card {
  max-width: 400px;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  margin: 10px 0px;
  max-height: 400px;
}

.book-name {
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  color: black;
  width: 100%;
  font-weight: bold;
  margin-bottom: 7px;
}

.book-card a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 20px;
  height: 250px;
}

.book-image {
  text-align: center;
  width: 100%;
  height: 250px;
  max-width: 250px;
  border-radius: 10px;
  margin-bottom: 10px;
  position: relative;
}

.book-image img{
  width: 100%;
  height: 250px;
  border-radius: 10px;
  opacity: 90%;
  transition: 0.3s all
}

.book-image:hover img {
  margin-top: 5px;
  margin-left: 5px;
  opacity: 100%;
}

/* MODAL */

.outer {
  position: absolute;
  top: -200px;
  left: -200px;
  width: 120%;
  height: 120%;
  z-index: 10;
}

.outer--modal {
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.modal__window {
  position:relative;
  background: white;
  color: black;
  border-radius: 6px;
  width: 60%;
  min-width: 300px;
  max-width: 500px;
  margin:auto;
  z-index: 1000;
}
.modal__header {
  position: relative;
  background: #3ba0ad;
  color: white;
  padding: 8px 16px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.modal__title {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  margin: 0;
}
.modal__close {
  display: flex;
  font-size: 32px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
}
.modal__text {
  display: flex;
  justify-content: center;
  line-height:1.5;
  font-size: 24px;
  margin: 0;
  margin-bottom: 16px;
}
.modal__text--second {
  margin-top: 8px;
  margin-bottom: 0px;
}
.modal__body {
  padding: 16px;
}
.modal__buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.modal__button {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  word-break: break-word;
  min-width: 80px;
  max-width: 150px;
  background-color: yellow;
  border: 0;
  border-radius: 6px;
  color: black;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  text-decoration: none;
  padding: 8px;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  text-align: center;
  cursor: pointer;
}
/* .modal__button:hover {
  background: var(--primary-variant-2);
}
.modal__button--alt {
  background-color: var(--secondary);
  color: var(--on-secondary);
}
.modal__button--alt:hover {
  background-color: var(--secondary-variant-1);
} */
