<div class="build_item">
  <div class="build_name">
    <span>Название</span>
  </div>
  <div class="build_image">
    <img src="/assets/images/cat.jpg" alt="img">
  </div>
  <div class="build_popularity">
    <div class="popularity_number">45</div>
    <a class="like_button liked">
      <span> <i aria-hidden="true" class="fa fa-thumbs-up"></i> </span>
    </a>
  </div>
</div>
